ShaFiqul ShaFiqul IsLam body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0%;
}

#h1-container {
    font-size: 70px;

}

.top-banner {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100% 100%; */
    margin: 0 auto;
}

.head-container {
    text-align: center;
    color: white;
    padding-top: 120px;
    padding-bottom: 200px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(chartreuse, rgb(207, 255, 207));
    color: black;
    padding: 10px 25px;
    border-radius: 8px;
}

#h2-container {
    font-size: 50px;
}

.donate-container {
    text-align: center;
    padding-top: 90px;
}

.tk-tab {
    display: flex;
    justify-content: space-evenly;
}

.tk-normal {
    background-color: rgb(247, 240, 240);
    padding-left: 30px;
    padding-right: 30px;

}

.tk-colorful {
    color: red;
    background-color: rgb(241, 207, 207);
    border: 2px solid red;
    padding-left: 30px;
    padding-right: 30px;
}

#other-amount {
    text-align: center;
}

#amount-raw {
    width: 40%;
}

.ass-color {
    color: darkgrey;
}

.plan-container {
    text-align: center;
}

.card-container {
    width: 50%;
    display: flex;
    padding-left: 25%;
}

.card {
    padding-left: 27px;
    padding-right: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 40px;
    border-radius: 8px;
}

#card-1 {
    background-color: rgb(160, 215, 224);
    border-left: 6px solid rgb(64, 198, 252);

}

#card-2 {
    background-color: rgb(224, 224, 155);
    border-left: 6px solid yellow;
}

#card-3 {
    background-color: rgb(240, 195, 202);
    border-left: 6px solid red;
}

.donation-img img {
    padding-top: 7%;
    width: 48%;
    height: 45%;
    padding-left: 23px;
}

.suvive-container {
    text-align: center;
}

.suvives-container {
    text-align: center;
}

.link-button2 {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(rgb(238, 82, 108), rgb(214, 194, 197));
    padding: 10px 50px;
    border-radius: 3px;

}

.update-container {
    margin-top: 8%;
    background-color: rgb(235, 193, 114);
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3%;
    padding-bottom: 5%;

}

.h22 {
    font-size: 50px;
}

.email-tab {
    margin-left: 30%;
    padding-right: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subscribe-tab {
    text-decoration: none;
    color: white;
    background-color: rgb(248, 54, 54);
    padding: 3px 5px;
    margin: none;
}

.footer-items {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.icon-items {
    font-size: 35px;
    color: rgb(106, 245, 203);
}

/* moble divice respnsive start */
@media screen and (max-width:576px) {
    .top-banner {
        height: 500px;
        width: 660px;
        margin-bottom: 0px;
    }

    .head-container {
        text-align: center;
        color: white;
    }

    #h1-container {
        font-size: 26px;
    }

    .link-button {
        text-decoration: none;
        background-image: linear-gradient(rgb(187, 58, 148), rgb(67, 104, 146));
        color: rgb(255, 255, 255);
        padding: 6px;
        border-radius: 5px;
    }

    .donate-container {
        text-align: center;
        padding-top: 0px;
        padding-left: 60px;
    }

    #h2-container {
        font-size: 40px;
    }

    .donate-container-text br {
        display: none;
    }

    .tk-normal {
        background-color: rgb(247, 240, 240);
        margin: 5px;
    }

    .tk-normal,
    h2 {
        font-size: 12px;
    }

    .tk-colorful,
    h2 {
        font-size: 12px;
    }

    .plan {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .aa {
        margin-left: 60px;
    }

    .bb {
        margin-left: 50px;
    }

    .bb br {
        display: none;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        width: 100%;
    }

    .donation-img img {
        width: 80%;
        margin-left: 90px;
    }

    .suvive-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 100px;
    }

    .h22 {
        font-size: 35px;
        margin: 0;
        padding: 0;
    }

    .pp br {
        display: none;

    }

    .link-button2 {
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-image: linear-gradient(rgb(77, 153, 124), rgb(89, 31, 155));
        padding: 10px;
        border-radius: 3px;
        width: 50%;
        margin-left: 130px;
    }

    .update-container {
        margin-top: 8%;
        background-color: rgb(235, 193, 114);
        width: 90%;
    }

    .update-container-text {
        text-align: center;
        margin-right: 40px;
    }

    .suvives-container {
        text-align: center;
    }

    .suvives-container br {
        display: none;
    }

    .input-btn {
        display: flex;
        margin-right: 200px;
    }

    .footer-items {
        width: full;
    }

}

/* moble divice respnsive End */

/* //////// */

/* tablet divice respnsive start */

@media screen and (max-width:768px) {

    .icon-items {
        font-size: 35px;
        color: rgb(106, 245, 203);
    }
}

/* tablet divice respnsive end */